extends template.pug

include employee_mixins.pug

block title
	- var matches = reqPath.match(/\/((?:name)|(?:zipcode))\/?$/)
	- if(matches) var title = matches[1][0].toUpperCase() + matches[1].slice(1)
	if !title
		|Employee List
	else if content && content.length > 0 && '_id' in Object(content[0])
		|Employees by #{title}
	else
		|Employee #{title}s

append head
	style.
		ul, li
		{
			margin-bottom: 0;
		}

block body
	if !content
		p No results
	else if 'message' in content
		p=content.message
	else if content.length == 0
		p No records found
	else if '_id' in Object(content[0])
		table
			thead
				tr
					th
					th Employee
					th Address
					th Compensation
					th Family
					th Health
					th Photo

			tbody
				each data, idx in content
					tr
						td=idx + 1
						td: +employee_list(data)
						td: +address_list(data.address)
						td: +family_list(data.family)
						td: +compensation_list(data.compensation)
						td: +health_list(data.health)
						td: +photo(data.photo, true)
	else
		each record in content
			.record=record

