
mixin list_item(key, value)
	li
		strong #{key}: 
		block

mixin employee_list(employee)
	ul
		+list_item('ID')
			a(href=`/employees/id/${employee._id}`)=employee._id
		+list_item('First Name')
			a(href=`/employees/name/?first_name=${employee.first_name}`)=employee.first_name
		+list_item('Last Name')
			a(href=`/employees/name/?last_name=${employee.last_name}`)=employee.last_name
		+list_item('Phone')
			a(href=`tel:${employee.phone}`)=employee.phone
		+list_item('Email')
			a(href=`mailto:${employee.email}`)=employee.email
		+list_item('Role')=employee.role

mixin address_list(address)
	ul
		+list_item('Street')=address.street
		+list_item('State')=address.state
		+list_item('Country')=address.country
		+list_item('ZIP Code')
			a(href=`/employees/zipcode?zipcode=${address.zipcode}`)=address.zipcode

mixin family_list(family)
	ul
		+list_item('Marital Status')=family.marital_status ? 'Married' : 'Not Married'
		+list_item('Children')=family.childrens ? family.childrens : 0

mixin compensation_list(compensation)
	ul
		+list_item('Pay')='$' + compensation.pay
		+list_item('Stock')=compensation.stock

mixin health_list(health)
	ul
		+list_item('Short-term Disability Plan')=health.shortterm_disability_plan ? 'Yes' : 'No'
		+list_item('Long-term Disability Plan')=health.longterm_disability_plan ? 'Yes' : 'No'
		+list_item('Paid Family Leave')=health.paid_family_leave ? 'Yes' : 'No'

mixin photo(photo, tiny)
	- const attribs = {}
	if tiny
		- attribs.style='heigth: 80px; width: 80px'

	img(src=`data:image/jpeg;base64,${photo.image}`)&attributes(attribs)

	//- using endpoint instead of data URI
	//- img(src=`/employees/id/${_id}/photo.jpg`)&attributes(attribs)