extends template.pug

mixin employee_name()
	if !content
		|Invalid Record
	else if 'message' in content
		|#{content.message}
	else
		- var employee = content.employee
		|#{employee.first_name} #{employee.last_name}

block title
	|Employee Record: 
	+employee_name()


append head
	style.
		ul, li
		{
			margin-top: 0;
		}
		ul
		{
			padding-left: 1em;
		}
		h3
		{
			margin-bottom: 0
		}

mixin list_item(key, value)
	li
		strong #{key}: 
		|#{value}

block body
	if !content
		|Invalid Record
	else if 'message' in content
		|#{content.message}
	else
		- const employee = content.employee
		- const address = content.address
		- const photo = content.photo
		- const compensation = content.compensation
		- const health = content.health
		- const family = content.family

		.left
			ul
				+list_item('First Name', employee.first_name)
				+list_item('Last Name', employee.last_name)
				+list_item('Phone', employee.phone)
				+list_item('Email', employee.email)
				+list_item('Role', employee.role)

			h3 Address
			ul
				+list_item('Street', address.street)
				+list_item('State', address.state)
				+list_item('Country', address.country)
				+list_item('Zip-code', address.zipcode)

			h3 Family
			ul
				+list_item('Marital Status', address.marital_status ? 'Married' : 'Not Married')
				+list_item('Children', address.childrens ? address.childrens : 0)

			h3 Compensation
			ul
				+list_item('Pay', '$' + compensation.pay)
				+list_item('Stock', compensation.stock)

			h3 Health
			ul
				+list_item('Short-term Disability Plan', health.shortterm_disability_plan ? 'Yes' : 'No')
				+list_item('Long-term Disability Plan', health.longterm_disability_plan ? 'Yes' : 'No')
				+list_item('Paid Family Leave', health.paid_family_leave ? 'Yes' : 'No')

		.right: img(src=`data:image/jpeg;base64,${photo.image}`)
		//- .right: img(src=`/employees/id/${photo.employee._id}/photo.jpg`)
